{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="ev-body">
        <div class=ev-table-prices">
            <div class="ev-price">
                <div class="ev-price-h">
                    <h2>Mensual</h2>
                    <div>
                        <h3 class="currency">$</h3>
                        <h3 class="price">5</h3>
                    </div>
                </div>
                <div class="ev-price-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores expedita explicabo harum hic inventore ipsum laboriosam libero minus modi nostrum, obcaecati, officia optio recusandae veniam vero voluptas, voluptate! Vitae!</div>
                <div class="ev-price-f">
                    <button type="submit" class="btn btn-primary btn-big">SELECCIONAR</button>
                </div>
            </div>
            <div class="ev-price">
                <div class="ev-price-h">
                    <h2>Mensual</h2>
                    <div>
                        <h3 class="currency">$</h3>
                        <h3 class="price">5</h3>
                    </div>
                </div>
                <div class="ev-price-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores expedita explicabo harum hic inventore ipsum laboriosam libero minus modi nostrum, obcaecati, officia optio recusandae veniam vero voluptas, voluptate! Vitae!</div>
                <div class="ev-price-f">
                    <button type="submit" class="btn btn-primary btn-big">SELECCIONAR</button>
                </div>
            </div>            <div class="ev-price">
                <div class="ev-price-h">
                    <h2>Mensual</h2>
                    <div>
                        <h3 class="currency">$</h3>
                        <h3 class="price">5</h3>
                    </div>
                </div>
                <div class="ev-price-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores expedita explicabo harum hic inventore ipsum laboriosam libero minus modi nostrum, obcaecati, officia optio recusandae veniam vero voluptas, voluptate! Vitae!</div>
                <div class="ev-price-f">
                    <button type="submit" class="btn btn-primary btn-big">SELECCIONAR</button>
                </div>
            </div>

            <div class="ev-price">
                <div class="ev-price-h">
                    <h2>Mensual</h2>
                    <div>
                        <h3 class="currency">$</h3>
                        <h3 class="price">5</h3>
                    </div>
                </div>
                <div class="ev-price-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores expedita explicabo harum hic inventore ipsum laboriosam libero minus modi nostrum, obcaecati, officia optio recusandae veniam vero voluptas, voluptate! Vitae!</div>
                <div class="ev-price-f">
                    <button type="submit" class="btn btn-primary btn-big">SELECCIONAR</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
