{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="ev-body">
    <div class="promo-three-months-premiun-free">
        <div>
            <h2>Prueba Premiun por tres meses gratis</h2>
            <h3>Regístrate hasta el 21 de febrero y participa en increíbles sorteos.</h3>
            <button type="submit" class="btn btn-big">Ver Planes</button>
        </div>

        <img src="{{ asset('assets/_img/girl_one.png') }}" alt="" srcset="">
    </div>
</div>
{% endblock %}
