{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <input type="text" id="firstResult" value="0">
    <input type="text" id="maxResult" value="10">
    <input type="text" id="total" value="10">

    <div class="ev-body">
        <div class="promo-three-months-premiun-free">
            <div>
                <h2>Prueba Premiun por tres meses gratis</h2>
                <h3>Regístrate hasta el 21 de febrero y participa en increíbles sorteos.</h3>
                <button type="submit" class="btn btn-big">Ver Planes</button>
            </div>

            <img src="{{ asset('assets/_img/girl_one.png') }}" alt="" srcset="">
        </div>
    </div>

    <div class="grid-events" id="result">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function(){
            $(window).scroll(function(){
                var firstResult = $('#firstResult').val();
                var total = $('#total').val();
                if(parseInt(firstResult) < parseInt(total)) {
                    var position = $(window).scrollTop();
                    var bottom = $(document).height() - $(window).height();
                    if (position == bottom) {
                        LoadEvents();
                    }
                }
            });
        });

        function setInterest(event) {
            $.ajax({
                url: URL_EVENTSOFT + '/event/plus/interest',
                type: "POST",
                data: {"id":$(event).data('event')},
                success: function (data) {
                    console.log(data);
                }
            });
        }
        function LoadEvents()
        {
            var firstResult = $('#firstResult').val();
            var maxtResult = $('#maxResult').val();
            $.ajax({
                url: URL_EVENTSOFT + '/event/load',
                type: "POST",
                data: {"firstResult":firstResult, 'maxtResult': maxtResult },
                success: function (data) {
                    $('#firstResult').val( parseInt(firstResult) + parseInt(maxtResult) );
                    $('#total').val(parseInt(data.total));
                    for (i = 0; i < data.eventos.length; i++) {
                        //animation-delay: calc(4 * 100ms);
                        var animation_delay = 'calc('+(i + 1) + ' * 100ms)';
                        showEvent(data.eventos[i], animation_delay);
                    }
                }
            });
        }

        function showEvent(eventos, style_animate) {
            var title = document.createElement('div');
            title.setAttribute('class', 'title');
            title.innerHTML = `<h3><p>${eventos.title}</p></h3>`;
            var div_img = document.createElement('div');
            div_img.className= 'img-thumb';
            var img = document.createElement('img');
            if (eventos.thumb == null)
            {
                img.src = 'https://dummyimage.com/400x250/468499/fff';
            }else{
                img.src = `{{ asset(varGlobImgEvents) }}${eventos.thumb}`;
            }
            //img.height = 100;
            img.setAttribute('class', 'photothumb');
            img.style.width = "100%";
            div_img.appendChild(img);
            var event_body = document.createElement('div');
            event_body.className = 'event-body';
            var monthNames = [
                "Enero", "Febrero", "Marzo",
                "Abril", "Mayo", "Junio", "Julio",
                "Agosto", "Septiembre", "Octubre",
                "Noviembre", "Diciembre"
            ];
            var date_object = new Date(eventos.startDate.date);
            var date = document.createElement('p'), assist = document.createElement('p');
            date.className = 'date';
            date.innerText = date_object.getDate() + " " + monthNames[date_object.getMonth()] + " " + date_object.getFullYear();//eventos.startDate.date;
            assist.className = 'category-assistants';
            assist.innerText = '128';

            var event_body_info = document.createElement('div');
            event_body_info.className = 'event-body-info';
            event_body_info.appendChild(date);
            event_body_info.appendChild(assist);

            var buttonElement = document.createElement('button'), asistire = document.createElement('button');
            buttonElement.type = 'button';
            buttonElement.className = 'btn btn-primary btn-interest';
            buttonElement.style.marginRight = '5px';
            buttonElement.setAttribute('data-event', eventos.id );
            buttonElement.setAttribute('onclick', 'setInterest(this);' );
            buttonElement.innerHTML = '<i class="fas fa-star "></i> Me Interesa';

            asistire.type = 'button';
            asistire.className = 'btn btn-primary';
            asistire.innerHTML = '<i class="far fa-eye "></i> Ver Más';

            var event_body_control = document.createElement('div');
            event_body_control.className = 'event-body-control';
            event_body_control.appendChild(buttonElement);
            event_body_control.appendChild(asistire);

            event_body.appendChild(event_body_info);
            event_body.appendChild(event_body_control);

            var descr = document.createElement('div');
            descr.className = 'desc';
            descr.innerHTML = `<p>${eventos.shortdescription}</p>`;

            var content = document.createElement('div');
            content.setAttribute('class', 'content');
            //content.appendChild(div_img);
            content.appendChild(img);
            content.appendChild(title);
            content.appendChild(event_body);
            content.appendChild(descr);

            var item = document.createElement('div');
            item.setAttribute('class', 'item photo');
            item.style.animationDelay = style_animate;
            item.appendChild(content);
            var grid = document.querySelector("#result");
            grid.appendChild(item);
        }
        LoadEvents();



    </script>
{% endblock %}